<%if logged_in? %>
    <h3> Welcome <%= current_user.first_name %> </h3>
<%else%>
    <div class="container">
            <h3> User Login </h3>
            <%= render 'form', user: @user, error_message: @error_message %>
    </div>
<%end%>

<div class="container">
    <div class="row" align="left">
        <div class='p-3 bg-white'>
            <a class="btn btn-primary" href= <%= "/users/new" %> role="button"> Sign Up </a> 
        </div>
    </div>
</div>