<div class="container">
    <h3>Register</h3>
    <%= render 'form', user: @user %>
</div>

<div class="container">
    <div class="row" align="left">
        <div class='p-3 bg-white'>
            <a class="btn btn-primary" href= <%= "/login" %> role="button">Login</a>
        </div>
    </div>
</div>