<div class="container">
  <h3> Seth Viren Neel </h3>
  <h6>University of Pennsylvania & Welligence</h6>
</div>
    
<div class="container">
  <%= image_tag("sethneel.jpg") %>
  <p> 
  Hi! I’m in my fifth and final year of a Ph.D. in Statistics at The Wharton School, University of Pennsylvania where I’m under the supervision of  Michael Kearns and Aaron Roth. I’m supported by a 2017 NSF Graduate Fellowship . My primary research (Google Scholar) is on algorithmic fairness and differential privacy. More generally, I am interested in all mathematical aspects of machine learning and artificial intelligence. I like to design algorithms I can turn into code, some of which can be found 
  <a href='http://github.com/sethneel'>here</a>. I graduated with a math degree from Harvard in 2015. 
  Outside of research I am a co-founder and Chief Data Scientist of <a href='http://welligence.com'> Welligence</a>, a fintech company focused on the energy sector. I was named to the Forbes 30 under 30 list in the Energy category in 2019.
  </p>
</div>


  