<!DOCTYPE html>
<html>
<head>
  <title> sethneel </title>
</head>
  <body>
  <div class="container" align="left">
    <h3> Contact </h3>
    <div> 
    <span style="color:blue;"> work email: </span>
    firstname.lastname@welligence.com 
    </div>
    <div> 
    <span style="color:blue;"> academic email: </span>
    firstnamelastname@wharton.upenn.edu 
    </div>
  </div>
</body>
</html>